@{
    ViewBag.Title = "Home Page";
}
@using System.Globalization
@using Sloader.Crawler.Config
@model Sloader.Web.Models.HomeIndexViewModel

<div class="jumbotron">
    <h1>Sloader Hub</h1>
    <p><a href="https://github.com/Code-Inside/Sloader" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>MasterCrawlerConfig</h2>
        @if (Model.SloaderConfigPathIsConfigured)
        {
            <p><b>Configured @ConfigKeys.SloaderConfigPath:</b></p>
            <pre>@Model.SloaderConfigPath</pre>

            if (Model.SloaderConfigIsValid)
            {
                <p><b>Config is a valid MasterCrawlerConfig!</b></p>
            }

            <p><b>Secrets (@ConfigKeys.SecretTwitterConsumerKey, @ConfigKeys.SecretTwitterConsumerSecret): </b></p>
            <p>@Model.SloaderConfigIsTwitterConsumerConfigured</p>
        }
        else
        {
            <p><b>Configure @ConfigKeys.SloaderConfigPath!</b></p>
        }
        
        <h2>Crawler Run Result:</h2>
        @if (Model.ResultData != null)
        {
            <p><b>ResultData from @Constants.SloaderAzureBlobContainer / @Constants.SloaderAzureBlobFileName:</b></p>
            <p>@Model.ResultData.RunOn.ToString(CultureInfo.InvariantCulture)</p>
            <pre>@Model.ResultText</pre>
        }
    </div>
</div>